.printy-hero{
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  position:relative;
  padding:40px 20px;
  box-sizing:border-box;
}

.printy-hero img{
  max-width:100%;
  height:auto;
  display:block;
}

.hero-buttons{
  position:absolute;
  bottom:40px;
  left:60px;
  display:flex;
  gap:15px;
}

.btn-black{
  background:#000;
  color:#fff;
  padding:12px 20px;
  border-radius:30px;
  text-decoration:none;
  font-weight:700;
}

.btn-yellow{
  background:#FFD400;
  color:#000;
  padding:12px 20px;
  border-radius:30px;
  text-decoration:none;
  font-weight:700;
}
